.landing_container{
    height: 80vh;
    width: 100%;
    background-color: rgb(255, 248, 248);
    display: flex;
    padding: 10px;
    justify-content: space-evenly;

    div{
        width: 45%;
    }
    .title_container{
        h1{
            font-size: 60px;
            margin-top: 150px;
            span{
                color: #f14105;
            }
        }
        button {
            padding: 10px 20px;
            background-color: #f14105;
            color: white;
            border: none;
            &:disabled{
                background-color: gray;
                cursor: not-allowed;
            }
        }
    }
    .form_container{
     
        .form {
            width: 95%;
            margin: 80px auto;
            padding: 10px;
            position: relative;
            input{
                padding: 10px;
                width: 95%;
                margin: 10px 0px;
                border: 1px solid lightgrey;
            }
            input[type='file']{
                padding: 10px;
                width: 40%;
                margin: 10px 0px;
                border: 1px solid lightgrey;
            }
            textarea{
                padding: 10px;
                width: 95%;
                // width: 250px;
                // margin: 10px 0px;
                border: 1px solid lightgrey;
            }
            .file_input{
               padding: 0px;
            }
            div{
                width: 100%;
                    display: flex;
                    margin-top: 20px;
                    
                    justify-content: space-between;
                    button {
                        color: white;
                        background-color: black;
                        width: 150px;
                        height: 50px;
                        margin-right: 23px;
                        margin-top: 10px;
                        border: none;
                        cursor: pointer;
                        &:disabled{
                            background-color: gray;
                            cursor: not-allowed;
                            color: lightgray;
                        }
                    }

            }
            .msg, .msg_success{
               position: absolute;
               bottom: -10px;
               color: red;
            }
            .msg_success{
                color: rgb(7, 168, 7);
            }
        }
       
    }
}
iframe{
    display: none;
}